@model TipoCuenta
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

@{
    ViewData["Title"] = "Crear tipo cuenta";
}

<h1>Crear tipo de cuenta</h1>
<h5>


</h5>

<div asp-validation-summary ="ModelOnly" class="text-danger">

</div>

<form asp-controller="TiposCuentas" asp-action="Crear" method="post">

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="Text" asp-for="Nombre" class="form-control"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
   
    <button type="submit" class="btn btn-primary">Enviar</button>
    <a class= "btn btn-secondary"  asp-action="Index">Cancelar</a>
</form>

@section Scripts{
    
    <partial name="_ValidationScriptsPartial"/>
}
